# Environment
.env
.env.local
.env.production
.env.development
.env.test
.env.example
venv/
__pycache__/
*.pyc
*.pyo
.DS_Store

#data
chroma_db/
*.db

#node
node_modules/
dist/

#keys
*.pem
*.key
private_keys.txt*.env

