# Environment
.env
.env.local
.env.production
.env.development
.env.test
.env.example
frontend/.env
backend/.env
venv/
__pycache__/
*.pyc
*.pyo
.DS_Store

#data
chroma/
chroma_data
chroma_db/
*.db

#node
node_modules/
dist/

#keys
*.pem
*.key
private_keys.txt
copilot-instructions.md
github_copilot_instructions.md
.github
.vscode